langchain==0.2.1
langchain-community==0.2.1
unstructured==0.14.2
canvasapi==3.2.0
beautifulsoup4==4.12.3
lxml==5.2.2
PyPDF2==3.0.1
striprtf==0.0.26
docx2txt==0.8
pandas==2.2.2
pydantic==2.7.1
openpyxl==3.1.2
xlrd==2.0.1
Markdown==3.6
pytz==2024.1
# Egg name not required, but recommended to avoid pip conflicts.
git+https://github.com/tl-its-umich-edu/langchain_kaltura@2025.03.01#egg=LangChainKaltura
